<!DOCTYPE html>
<html lang="en">
	<head>
	  <meta charset="UTF-8">
	  <title>Difi data</title>
      <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}"/>
	</head>
	<body>
		<h1> Difi data representert av oss</h1>
			<h2>Resultat:</h2>
			
			<div id = "tables">
			<table id= "table_one">
				<thead>
					<tr>
				     <th rowspan=2>Felt</th>
		   			 <th rowspan=2>Verdi</th>
		  			</tr>
		  			
	  			</thead>
	  			<tbody>
                    {% for key,value in results["old"].items() %}
	  				<tr>
                        <td>{{key}}</td>
                        <td>{{value}}</td>
		  			</tr>
                    {%endfor%}
	  			</tbody>
			</table>

			<table id= "table_two">
				<thead>
					<tr>
				     <th rowspan=2>Felt</th>
		   			 <th rowspan=2>Verdi</th>
		  			</tr>
	  			</thead>
	  			<tbody>
                    {% for key,value in results["new"].items() %}
	  				<tr>
                        <td>{{key}}</td>
                        {% if key in results["diff"].keys() %}   
                            <td id="orange">{{value}}</td>
                        {% else %}
                            <td>{{value}}</td>
                        {%endif %}
		  				<!-- <td id="orange">92222328</td> -->
		  			</tr>
                    {%endfor%}
	  			</tbody>
			</table>
		    </div>

	
        <script src="{{ url_for('static', filename='exporting.js') }}"></script>
        <script src="{{ url_for('static', filename='highcharts.js') }}"></script>


        <div id="container" style="min-width: 310px; max-width:200px; height: 400px; margin: 0 auto"></div>



        		<script type="text/javascript">

        Highcharts.chart('container', {
            chart: {
                type: 'bar'
            },
            title: {
                text: 'Endringer i enetsregistere'
            },
            subtitle: {
                text: 'Data endret de siste fem månedene'
            },
            xAxis: {
                categories: ['August', 'September', 'Oktober', 'November', 'Desember'],
                title: {
                    text: null
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Endringer',
                    align: 'high'
                },
                labels: {
                    overflow: 'justify'
                }
            },
            tooltip: {
                valueSuffix: ' endringer'
            },
            plotOptions: {
                bar: {
                    dataLabels: {
                        enabled: true
                    }
                }
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                x: -40,
                y: 80,
                floating: true,
                borderWidth: 1,
                backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
                shadow: true
            },
            credits: {
                enabled: false
            },
            series: [ {
                data: [105, 95, 225, 74, 38] /*Legg til verdiene vil ha vist her*/
            }]
        });
		</script>


	</body>

</html>
