<!DOCTYPE html>
<html lang="en">
	<head>
	  <meta charset="UTF-8">
	  <title>Difi data</title>
      <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}"/>
	</head>
	<body>
		<h1> Difi data representert av oss</h1>

			<h2>Søk</h2>
			<div class="s_cont">

			<form role="search" action="/search" method="post" id="search_bar">
                <div class="form-group">
				    <input type="text" placeholder="Her kan du søke etter en bedrift eller organisasjon" id="search" name="search">
                </div>
                <button type="submit" id="knapp">Søk</button>
			</form>


			<div class="dropdown">
  				<button class="dropbtn">Dropdown</button>
  					<div class="dropdown-content">
   					 	<a href="#">Link 1</a>
  			 		 	<a href="#">Link 2</a>
  			 		 	<a href="#">Link 3</a>
  					</div>
			</div>
		</div>

			<footer id="bunn">
				<p>
					<h4>Laget av Dag, Morten og Mads</h4>
				</p>
			</footer>
	</body>

</html>
