

html{	
	background-color: #D1D1D1
}

*{
	text-align: center;
}

h1{
	font-size: 60px;
}

h2{
	font-size: 30px;
	margin-top: 30px;
}

table, th, td{
	border: 0.1em solid black;
	margin: 3px;
	
}
table{
	width: 40%
}

.s_cont{
	display: flex;
	border-radius: 2px;
	border: solid black;
}
	

}
#bunn{
	background: #3D7572;
	margin-top: 10%;
	padding: 3%;

}

#search{
	width: 60%;
	padding: 7px;
	border: 2px solid #607d8b;
	flex-grow: 2;
}

#submit{
	padding: 8px;
	background: #607d8b;
	border: 3px solid #607d8b;
	color: white;
	margin-left: -5px;
}
#submit:hover{
	background: #333;
	transition: all 0.40s;

}

#main_table{
	margin-top: 3%;
	background: #4CAF50;
	/**border-collapse: collapse;*/
}

.tables{
	display: flex;
	flex-direction: 
}



/* Style The Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    justify-content: flex-end;

}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}